# place into /lib/systemd/system/util-site.service
# sudo systemctl daemon-reload
# systemctl start util-site
# systemctl enable util-site
[Unit]
Description=Util Site Application
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/util-site/bin/start.sh
ExecStop=/root/util-site/bin/stop.sh

[Install]
WantedBy=multi-user.target